body {
		background-color: burlywood;
		font-family:"comic sans";
}

h1 {
	font-size: 48px;
	color: whitesmoke;
}

#Color {
	color: whitesmoke
}

.jumbotron {
	background-image: url("https://images.pexels.com/photos/340901/pexels-photo-340901.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}

h2 {
	font-weight: Bold
}

p {
	font-size: 25px;
}